@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --tw-color-base-100: theme(colors.base-100);
    --tw-color-base-200: theme(colors.base-200);
    --tw-color-base-300: theme(colors.base-300);
    --tw-color-base-content: theme(colors.base-content);
    --tw-color-primary: theme(colors.primary);
    --tw-color-secondary: theme(colors.secondary);
    --tw-color-accent: theme(colors.accent);
    --tw-color-neutral: theme(colors.neutral);
    --tw-color-warning: theme(colors.warning);
  }
}